<form class="container-form" name="contact" action-xhr="https://formspree.io/info@kalwaltart.it" method="POST">
  <label for="fname">Nome</label>
  <input type="text" id="fname" name="firstname" placeholder="Your name...">
  <label for="lname">Cognome</label>
  <input type="text" id="lname" name="lastname" placeholder="Your last name...">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
    required>
  <label for="_subject">Soggetto </label>
  <textarea id="subject" name="_subject" placeholder="Write something.." rows="7" required></textarea>
  <button type="submit" name="submit">Invia Messaggio</button>
</form>
<div>
  <p>Grazie per aver visitato il mio sito! 😃</p>
</div>
