{% assign jpg_id = %}

<figure class="figure-amp-img">
  <amp-img width="{{ width }}px" height="{{ height }}px"
             src="https://ucarecdn.com/{{ jpg_id }}/{{ name }}.jpg" alt="{{ alt }}" title="{{ title }}"
             srcset="https://ucarecdn.com/{{ webp_id }}/-/resize/320x/{{ name }}.webp 320w,
             https://ucarecdn.com/{{ webp_id }}/-/resize/450x/{{ name }}.webp 450w,
             https://ucarecdn.com/{{ webp_id }}/-/resize/640x/{{ name }}.webp 640w,
             https://ucarecdn.com/{{ webp_id }}/-/resize/750x/{{ name }}.webp 750w,
             https://ucarecdn.com/{{ webp_id }}/-/resize/800x/{{ name }}.webp 800w,
             https://ucarecdn.com/{{ webp_id }}/-/resize/900x/{{ name }}.webp 900w,
             https://ucarecdn.com/{{ webp_id }}/-/resize/1000x/{{ name }}.webp 1000w,
             https://ucarecdn.com/{{ webp_id }}/{{ name }}.webp 1200w," sizes="(min-width: 1200px) 720px, 90vw" layout="responsive">
    <amp-img alt="{{ alt }}"
       fallback
       width="{{ width }}px"
       height="{{ height }}px"
       src="https://ucarecdn.com/{{ jpg_id }}/{{ name }}.jpg"></amp-img>
  </amp-img>
  <figcaption class="image-responsive-caption">{{ caption }}</figcaption>
</figure>
