<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <script src='../../resources/aframe-v1.0.4.min.js'></script>
  <script src='../../resources/aframe-ar.min.js'></script>
  <script src='../../resources/js/aframe-extras/aframe-extras.js'></script>
  <script src="https://rawgit.com/bestiejs/platform.js/master/platform.js"></script>
  <script src="https://rawgit.com/protyze/aframe-always-fullscreen-component/master/dist/aframe-always-fullscreen-component.min.js"></script>
</head>
