<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="../../resources/css/main.css">
{% include cookieconsent.html %}
{% if page.title != "Noise Noise" or page.title != "Glitch mk02" %}
  <script src='../../resources/three.min.js'></script>
  {% case page.title %}
    {% when "Mon cher Mondrian" %}
      <script src="../../resources/ar.min.js"></script>
    {% when "Art is a Joke" %}
      <script src="../../resources/ar.min.js"></script>
    {% when "Dada Knigth" %}
      <script src="../../resources/ar.min.js"></script>
    {% when "FloW-er PoW-er" %}
      <script src="../../resources/ar.min.js"></script>
    {% when "Glitch" %}
      <script src="../../resources/ar.min.js"></script>
      <script src="../../resources/js/renderers/CanvasRenderer.js"></script>
      <script src="../../resources/js/renderers/WebGL.js"></script>
		{% when "Glif 01" %}
	     <script src="../../resources/ar.min.js"></script>
			 <script src='../../resources/three-r103.min.js'></script>
	     <script src="../../resources/js/renderers/CanvasRenderer.js"></script>
	     <script src="../../resources/js/renderers/WebGL.js"></script>
    {% when "Ideogramma AR01" %}
      <script src="../../resources/ar.min.js"></script>
      <script src="../../resources/js/renderers/CanvasRenderer.js"></script>
      <script src="../../resources/js/renderers/Projector.js"></script>
      <script src="../../resources/js/loaders/OBJLoader.js"></script>
    {% when "The Tiger never follows the Square" %}
      <script src="../../resources/ar.min.js"></script>
      <script src="../../resources/js/renderers/CanvasRenderer.js"></script>
      <script src="../../resources/js/renderers/Projector.js"></script>
      <script src="../../resources/js/loaders/OBJLoader.js"></script>
    {% when "Parole perse" %}
      <script src="../../resources/ar.min.js"></script>
      <script src="../../resources/js/renderers/CanvasRenderer.js"></script>
      <script src="../../resources/js/renderers/Projector.js"></script>
		{% when "Noise Noise" %}
			<script src="../../resources/ar.min.js"></script>
			<script src="../../resources/js/shaders/CopyShader.js"></script>
			<script src="../../resources/js/shaders/DigitalGlitch.js"></script>
			<script src="../../resources/js/postprocessing/EffectComposer.js"></script>
			<script src="../../resources/js/postprocessing/RenderPass.js"></script>
			<script src="../../resources/js/postprocessing/MaskPass.js"></script>
			<script src="../../resources/js/postprocessing/ShaderPass.js"></script>
			<script src="../../resources/js/postprocessing/GlitchPass.js"></script>
		{% when "Glitch mk02"%}
			<script src="../../resources/ar.min.js"></script>
			<script src='../../resources/three-r103.min.js'></script>
			<script src="../../resources/js/shaders/DigitalGlitch.js"></script>
    {% else %}
  {% endcase %}
	{% else %}
	<script src='../../resources/three-r103.min.js'></script>
	<script src="../../resources/ar.min.js"></script>
	<script src="../../resources/js/shaders/CopyShader.js"></script>
	<script src="../../resources/js/shaders/DigitalGlitch.js"></script>
	<script src="../../resources/js/postprocessing/EffectComposer.js"></script>
	<script src="../../resources/js/postprocessing/RenderPass.js"></script>
	<script src="../../resources/js/postprocessing/MaskPass.js"></script>
	<script src="../../resources/js/postprocessing/ShaderPass.js"></script>
	<script src="../../resources/js/postprocessing/GlitchPass.js"></script>
	{% endif %}
  <!-- <script>THREEx.ArToolkitContext.baseURL = '../'</script> -->
  {%if meta-name %}
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  {% endif %}
</head>
