<header class="site-header">
<div>
  <a href="{{ site.baseurl }}/" class="logo"><span class="logo"><amp-img src="{{ site.baseurl }}{{ site.logo }}" width="600" height="60" alt="kalwalt logo" noloading></amp-img></span></a>
  <amp-accordion class=accordion-menu disable-session-states>
  <section>
    <h4 class=text-accordion-menu>  </h4>
    <nav class="list-menu">
        <ul>
            <li><a class="fas fa-home" href="/"> Home</a></li>
            <li><a class="fa fa-image" href="/artworks"> Artworks</a></li>
            <li><a class="fas fa-hand-pointer" href="/interactivity"> Interactivity</a></li>
            <li><a class="fa fa-id-card" href="/cv"> CV</a></li>
            <li><a class="fa fa-pen-alt" href="/blog"> Blog</a></li>
            <li><a class="fas fa-question" href="/about"> About</a></li>
            <li><a class="fa fa-american-sign-language-interpreting" href="/contacts"> Contact me</a></li>
        </ul>
    </nav>
  </section>
</amp-accordion>
{% include nav-breadcrumbs.html %}
</header>
