<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <link rel="manifest" href="{{ site.url }}/assets/json/manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="kalwaltart">
  <meta name="apple-mobile-web-app-title" content="kalwaltart">
  <meta name="theme-color" content="#1397ea">
  <meta name="msapplication-navbutton-color" content="#1397ea">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <link rel="icon" type="image/png" sizes="300x300" href="assets/images/logo_kalwalt.png">
  <link rel="apple-touch-icon" type="image/png" sizes="300x300" href="../assets/images/logo_kalwalt.png">
  <link rel="icon" type="image/png" sizes="512x512" href="../assets/images/logo_kalwalt_512x512.png">
  <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="../assets/images/logo_kalwalt_512x512.png">
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <!--<link rel="preload" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" type='text/css' as="style" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
  <!-- i need to investigate on @font-face and render blocking resorces (css) -->
  <!--<link rel="preload" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Arvo:400,700' type='text/css' as="style" crossorigin="anonymous">-->
  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
  <!--<link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-experiment-0.1.js">-->
  <link rel="preload" as="script" href="https://cdn.ampproject.org/v0/amp-youtube-0.1.js">
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  {% if page.idx == 00 %}
  <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
  <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
  {% endif %}
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
  <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
  <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
  <script async custom-element="amp-facebook-like" src="https://cdn.ampproject.org/v0/amp-facebook-like-0.1.js"></script>
  {% if page.layout == 'post' %}
  <script async custom-element="amp-facebook-comments" src="https://cdn.ampproject.org/v0/amp-facebook-comments-0.1.js"></script>
  {% endif %}
  {% if page.idx == 02 %}
   <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
  {% endif %}
  {% if page.idx == 06 %}
   <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  {% endif %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Arvo:400,700' rel='stylesheet' type='text/css'>
  {% if page.carousel %}
    {% include inject_carousel.html %}
  {% endif %}
  <style amp-custom>
  {% capture include_to_scssify %}
    {% include styles.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  {% seo %}
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
