<div class="container-parallax">
  <div class="middle">
    <a href="/interactivity"><div class="text fas fa-hand-pointer"> Scopri le mie opere interattive</div></a>
  </div>
<amp-animation id="parallaxTransition"
  layout="nodisplay">
  <script type="application/json">
    {
      "duration": "1",
      "fill": "both",
      "direction": "reverse",
      "animations": [{
        "selector": "#parallaxImage",
        "keyframes": [{
          "transform": "translateY(-30%)"
        }]
      }]
    }
  </script>
</amp-animation>
<div class="parallax-image-window">

  <amp-position-observer on="scroll:parallaxTransition.seekTo(percent=event.percent)"
    intersection-ratios="0"
    layout="nodisplay">
  </amp-position-observer>
  {% assign width = "1200" %}
  {% assign height = "822" %}
  {% assign jpg_id = "8a696528-1f55-4ff4-a145-b92b88b497fb" %}
  {% assign webp_id = "e260c95a-c700-466d-8d72-46826ec03eb2" %}
  {% assign name = "dada_knight_interactive_art_augmented_reality_walter_perdan_kalwalt" %}
  {% assign alt = "Dada Knight - Interactive art - Abstract painting with augmented reality by Walter Perdan" %}
  {% assign title = 'Dada Knight' %}

  {% include parallax-image.html %}

</div>
</div>
