{% capture srcset %}
{% for i in resized %}
    /{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

<figure class="figure-amp-img">
  <amp-img width="{{ original.width }}px" height="{{ original.height }}px" src="/{{ original.path }}" alt="{{ alt }}" title="{{ title }}" srcset="{{ srcset | strip_newlines }} {{ original.path }} {{ original.width }}w" sizes="(min-width: 1200px) 720px, 90vw" layout="responsive">
    <amp-img alt="{{ alt }}"
       fallback
       width="{{ original.width }}px"
       height="{{ original.height }}px"
       src="/assets/{{ original.dirname }}/{{ original.filename }}.jpg"></amp-img>
  </amp-img>
  <figcaption class="image-responsive-caption">{{ caption }}</figcaption>
</figure>
