<div class=social-tab>
  <div class="">
    <amp-social-share type="facebook" data-param-app_id="308652763062146">
    </amp-social-share>
    <amp-social-share type="twitter"></amp-social-share>
    <amp-social-share type="pinterest"></amp-social-share>
    <amp-social-share type="email"></amp-social-share>
  </div>
  <div class="fb-likes">
    <amp-facebook-like width=90 height=20 layout="fixed" data-layout="button_count"
     data-href="https://www.facebook.com/perdanwalter/">
    </amp-facebook-like>
  </div>
  <div class="patreon-box">
   <h4>Supportami! Diventa il mio sponsor!</h4>
   <a class="fab fa-patreon patreon-button" href="https://www.patreon.com/bePatron?u=29397492"> Become a Patron!</a>
 </div>
</div>
