@import 'bourbon/bourbon';
@import 'syntax-highlighting';

$grey-color:       #828282;
$hairline-color: rgb(230,230,230);
$text-color: rgb(40,40,40);
$text-color-negative: white;
$link-color: rgb(0,114,154);

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

amp-img {
  background-color: grey;
}

.cf {
  @include clearfix;
}

$rs: 16px;

$font-serif: 'Arvo', Georgia,Cambria,"Times New Roman",Times,'Lora', serif;
$font-sans: "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

// Only needed for syntax highlighting
%vertical-rhythm {
  margin-bottom: $rs;
}

main {
  /*display: block;*/
  display: grid;
}

html {
/*  overflow-x: hidden!important;*/
}

body {
  background-color: #fff;
  font-family: $font-sans;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.site-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 16px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }

  .page-links {
      display: block;
      position: absolute;
      top: 10px;
      right: $rs;
      font-weight: 200;
      font-style: normal;
      font-size: 18px;
      line-height: 30px;

      a {
        text-decoration: none;
        color: #999999;
        &:hover {
          color: #333333;
        }
      }
  }

}

.blog-header {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  @include box-sizing(border-box);

  .blog-title {
    margin-bottom: 8px;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    outline: 0;
    line-height: 50px;
    word-break: break-word;
    color: #333333;
  }
  .blog-description {
    font-size: 28px;
    margin: 0 0 20px;
    padding: 0;
    line-height: 1.2;
    color: #666666;
    font-weight: 300;
  }
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 25px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }

  article {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f0;
    &:last-child {
      border-bottom: 0px;
    }
    .post-title {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      display: block;
      font-size: 36px;
      line-height: 1.15;
      margin: 0 0;
      a {
        text-decoration: none;
        color: #333332;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .post-excerpt {
      letter-spacing: -0.02em;
      font-weight: 300;
      font-style: normal;
      font-size: 20px;
      line-height: 1.59;
      color: #666665;
    }
    .post-meta {
      font-size: 14px;
      color: #b3b3b1;
      line-height: 30px;
      a {
        color: #b3b3b1;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }

      }
      .tag-post{
          background: #1397ea;
          color: white;
          text-decoration: none;
          border-radius: 4px;
          padding: 1px 2px 1px 2px;
      }
      .tag-post:hover{
        color: grey;
      }

      .tag-post:visited{
        color: #114ab8;
      }
    }
  }
}

.post-template .content {
  max-width: 700px;
}

.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0;
  span {
    color: #b3b3b1;
    font-size: $rs / 8 * 5;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.pagination {
  text-align: center;
  padding: $rs * 1 0 0;
  font-size: $rs / 4 * 3;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.site-footer {
  margin: 0 auto;
  padding: $rs * 3 0;
  width: 100%;
  max-width: 700px;
  font-size: $rs / 4 * 3;
  text-align: center;
  color: #363636;
  line-height: $rs * 1.1;
  background-color: #efd829ff;
  a {
    color: #363636;
    text-decoration: none;
    &:hover {
      color: #1397ea;
    }
  }
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #f07928ff;
  }
}

.post {
  .post-meta {
    font-family: $font-sans;
  }
  .post-title {
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.04em;
    font-size: 50px;
    line-height: 1.1;
    color: #333332;
    margin-bottom: 50px;
  }
  .author-image {
    background-image: url({{ site.baseurl }}{{site.author_image}});
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    margin-bottom: -10px;
    float: left;
    background-size: cover;
    border-radius: 100%;
    text-indent: -9999px;
  }
  .post-meta-text {
    color: #b3b3b1;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    overflow: hidden;
    font-family: Open sans;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .post-content {
    width: 100%;
    font-family: $font-serif;
    color: #333333;
    h1, h2, h3 {
      font-family: $font-sans;
    }
    h3, h4, h5, h6 {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      font-size: 24px;
      line-height: 1.3;
      margin-top: 50px;
      margin-bottom: 0px;
      font-family: $font-sans;
    }
    h3 {
      font-size: 36px;
    }
    h2, h1 {
      letter-spacing: -0.02em;
      font-weight: 700;
      font-style: normal;
      font-size: 42px;
      line-height: 1.2;
      margin-top: 50px;
      margin-bottom: 0px;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
      padding: 5px;
      text-align:left;
    }
    p {
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      line-height: 1.59;
      letter-spacing: -.002em;
      margin-top: 30px;
      margin-bottom: 0;
      color: #333333;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
    }
    a {
      color: #333333;
      text-decoration: underline;
    }
    amp-img, amp-youtube {
      margin-top: 30px;
    }
    figure {
      margin: 0;
      padding: 0 0 30px;
    }
    figcaption {
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
      line-height: 1.3;
      color: #666665;
      outline: 0;
      z-index: 300;
      text-align: center;
    }
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 30px auto;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    blockquote {
      margin: 0 0 30px;
      margin-left: -26px;
      border-left: 3px solid #57ad68;
      padding-left: 20px;
      p {
        letter-spacing: 0.01rem;
        font-weight: 400;
        mborder-left: 3px solid #57ad68;
        mpadding-left: 20px;
        mmargin-left: -26px;
        padding-bottom: 3px;
      }
    }
    ul, ol {
      padding: 0 0 30px;
      margin: 0;
    }
    li {
      padding: 0;
      font-weight: 400;
      font-style: normal;
      font-size: 23px;
      line-height: 30px;
      margin-left: 30px;
      margin-bottom: 12px;
      padding-top: 2px;
      p {
        padding: 0 0 golden-ratio(1rem, 1);
      }
    }
    ol li {
      list-style-type: decimal;
    }
  }
  .bottom-teaser {
    padding: 50px 0 0 0;
    font-family: Open sans;
    hr {
      border: 0;
      padding: 0;
      display: block;
      width: 15%;
      margin: 16px 0 16px 100px;
      border: 0px solid #dddddd;
      border-top: 1px solid #dddddd;
    }
    .isLeft {
      float: left;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
        padding-bottom: $rs * 2;
      }
      .bio {
        margin-top: 18px;
        margin-bottom: 18px;
      }
      .username {
        margin-left: 4px;
        margin-right: 18px;
        margin-bottom: 18px;
      }
      .index-headline {
        padding-bottom: 32px;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #333333;
          text-decoration: underline;
        }
      }
      .author-image {
        display: block;
        width: 80px;
        height: 80px;
        float: left;
        background-size: cover;
        border-radius: 100%;
        text-indent: -9999px;
      }
      h4 {
        font-size: 18px;
        line-height: 1.1;
        font-weight: 700;
        padding: 0;
        margin: 0;
        padding-left: 100px;
      }
      p {
        font-size: 14px;
        line-height: 1.3;
        font-weight: 400;
        padding: 0;
        margin: 0;
        padding-left: 100px;
        &.published {
          color: #999999;
        }
      }
    }
    .isRight {
      float: right;
      width: 47%;
      @include box-sizing(border-box);
      @include respond-to(800) {
        width: 100%;
      }

      .index-headline {
        padding-bottom: 32px;
      }
      .site-footer {
        margin: 0;
        padding: 0;
        color: #333333;
        text-align: left;
        font-size: 14px;
        line-height: 1.3;
        color: #999999;
        a {
          color: #333333;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .poweredby {
          display: block;
          padding-bottom: 18px;
          font-weight: 700;
          color: #333333;
        }

      }
    }
  }
}

.footer-info{

  text-decoration-style: none;
  list-style-type: none;
  li{
    display: block;
  }
  div{
    display: block;
    padding: 10px 4px 10px 4px;
    background-position: left 10px right 10px;
    margin-left: 15px;
  }

}

.share {
  text-align: right;
  padding: 20px 0 0;
  a {
    text-decoration: none;
    color: #bbbbbb;
    padding-left: 12px;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333333;
    }
  }
}

.highlighter-rouge .highlight {
  display: grid;
  max-width: 700px;
}

pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eeeeff;
}

code {
  font-size: x-small;
  //max-width: 700px;
  padding: 1px 5px;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.pagination .disabled {
    opacity: 0;
}

.accordion-menu {
  background-color: #eeeeff;
}

.text-accordion-menu {
  font-size: 24px;
  background: #0011ff url(/assets/images/mobile_menu_black.png) no-repeat;
  background-color: #1397eaff;
  background-position: right 4px top 2px;
  color: #333333;
  height: 36px;
  line-height: 1.5em;
  padding: 1px 4px 0 4px;
}
.list-menu {
  text-align: center;
  li{
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #333333;
  }


}

amp-user-notification > div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1397ea;
}

.social-tab{
  text-align: center;
}

.container-form{
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
#subject{
  width:80%;
}
form{
  	vertical-align: baseline;
}
input,
textarea {
	border: 0.05em solid $hairline-color;
	&:focus {
		border: 0.05em solid $text-color;
  width: auto;
	}
}

textarea {
  vertical-align: top;
	resize: vertical;
	max-width: none;
}

button {
	@include button($link-color, $text-color-negative);
}

// contact form
html[data-current="contact"] main > form {
  display: grid;
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  button {
    width: 100%;
  }
}

// reset CSS Grid fallbacks when they aren't required
@supports (display: grid) {
  html[data-current="contact"] main > form {
    input,
    textarea,
    button {
      width: auto;
      max-width: none;
    }
  }
}

.figure-amp-img{
  margin: 0;
  padding: 0 0 30px;
}

.image-responsive-caption{
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1.3;
  color: #666665;
  outline: 0;
  z-index: 300;
  text-align: center;
}

.tag-cloud {
  background: white;
  padding: 10px  0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1397ea;
  font-size: 90%;
  display: block;
  height: 120px;
  a{
    color: white;
    background: #1397ea;
    border-radius: 4px;
    padding: 1px 2px 1px 2px;
    margin: 4px 2px 4px 2px;
    font-family: $font-sans;
    text-decoration: none;
    display: inline-block;
}
}

.tag-cloud > a:hover{
  text-decoration: none;
  background: grey;
  color: white;
}

.tag-cloud > a:visited{
  color: #114ab8;
}

.post-content > .tag-cloud > a {

    color: white;
    background: #1397ea;
    border-radius: 4px;
    padding: 1px 2px 1px 2px;
    margin: 4px 2px 4px 2px;
    font-family: $font-sans;
    text-decoration: none;
    display: inline-block;

}

.post-content > .tag-cloud > a:hover{
  text-decoration: none;
  background: grey;
  color: white;
}

.tag-list{
  color: #1397ea;
  text-decoration: none;
}

.tag-list:hover{
  color: grey;
}

.tag-list:visited{
  color: #114ab8;
}

.tag-list-sum > a[rel="tag"]{

    color: white;
    background: #1397ea;
    border-radius: 4px;
    padding: 1px 2px 1px 2px;
    margin: 2px 2px 2px 2px;
    font-family: $font-sans;
    text-decoration: none;
    display: inline-block;

}

.tag-list-sum > a[rel="tag"]:hover{
  text-decoration: none;
  background: grey;
  color: white;
}

.tag-list-sum > a[rel="tag"]:visited{
  background: #114ab8;
}

.interactivity-nav{
  background-color: #bbbbbb;
}

.interactivity-ul{
  list-style: none;
  align-content: center;
  padding-inline-start: 4px;
  padding-right: 4px;
}

.interactivity-inside-div{
  margin: 4px;
  border: 2px;
  border-style: solid;
  border-color: #1397ea;
  border-radius: 4px 4px 8px 4px;
  padding: 6px;
  background-color: white;
  a{
    color: #1397ea;
    width: 200px;
    align-items: center;
    align-content: baseline;
    display: flex;
    h4{
      margin-left: 8px;
    }
  }
  a:visited{
    color: #114ab8;
  }
}

.interactivity-thumb{
  width: 100%;
  margin-top: 8px;
}

/*fontawesome-menu styles*/

.bg-primary{
  color:white;
  background-color: #1397ea;
  padding-top: 10%;
  padding-bottom: 10%;
}

.services {
  padding: 10% 0;
  border-radius: 6px;
  margin-top: auto;
  margin-bottom: 5%;
}

.container-fw{
  height: auto;
  width: 100%;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.col-md-3{
  align-items: center;
  text-align: -webkit-center;
}
.col-lg-10{
  width: 100%;
  align-items: center;
}
.small-line{
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .row {
    display: inline-flex;
    //justify-content: space-between;
    height: auto;
  }
  .col-md-3{
      width: 25%;
  }
}

.fontaws-item{
  width: 90%;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  .icon-btn{
    color:white;
    background-color: #1397ea;
  }
}

@keyframes keyframe-icons {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
  }

.rotation:hover{
  animation: keyframe-icons 1s ease-in-out;
}

.text-primary{
  color: #1397ea;
}

.bg-primary{
  color:white;
  background-color: #1397ea;
  padding-top: 10px;
}

.btn-light {
    border-radius: 4px;
    color: #333;
    background-color: rgb(255,255,255);
    padding: 4px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(250,250,250,0.7);
}

/*end of fontawesome-menu styles*/

/* fb-comments*/

.fb-comments{
  width: 100%;
}

.fb-likes{
  display: block;
  text-align: left;
}

/*
* Parallax image window styles
*/
.container-parallax{
  margin-bottom: 20%;
}

.parallax-image-window {
  overflow: hidden;
}

.parallax-image-window amp-img {
  margin-bottom: -30%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  background-color: rgba(19, 151, 234, .7);
  position: relative;
  top: 40%;
  left: 5%;
  text-align: center;
  border-radius: 6px;
  z-index: 100;
  width: fit-content;
}

@media only screen and (max-width: 768px){
  .text {
    opacity: 1.0;
    color: black;
    font-size: 0.8em;
    padding: 14px 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024){
  .text {
    opacity: 1.0;
    color: black;
    font-size: 1.2em;
    padding: 14px 30px;
  }
}

@media only screen and (min-width: 1024px){
  .text {
    opacity: 1.0;
    color: black;
    font-size: 1.8em;
    padding: 14px 30px;
  }
}

/* style for breadcrumbs */

nav.breadcrumbs.bootstrap {
   /* from Twitter Bootstrap 4 */
   /* If you already use Twitter, you do not need these css lines above, cause they already in Twitter Bootstrap */
   /* Additions: image integration */
   width: auto;
}

nav.breadcrumbs.bootstrap ol {
   margin-left: 0
}

nav.breadcrumbs.bootstrap .breadcrumb {
   font-size: 1rem;
   padding: 0.75rem 1rem;
   margin-bottom: 1rem;
   list-style: none;
   background-color: #f1f2ed;
   border-radius: 0.25rem;
}

nav.breadcrumbs.bootstrap .breadcrumb::after {
   content: "";
   display: table;
   clear: both;
}

nav.breadcrumbs.bootstrap .breadcrumb-item {
   float: left;
}

nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item::before {
   display: inline-block;
   padding-right: 0.5rem;
   padding-left: 0.5rem;
   color: #818a91;
   content: "/";
}

nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item:hover::before {
   text-decoration: underline;
}

nav.breadcrumbs.bootstrap .breadcrumb-item+.breadcrumb-item:hover::before {
   text-decoration: none;
}

nav.breadcrumbs.bootstrap .breadcrumb-item-active {
   color: #818a91;
}

nav.breadcrumbs.bootstrap .breadcrumb .icon {
   display: inline-block;
}

nav.breadcrumbs.bootstrap .breadcrumb .icon svg {
   height: 0.8rem;
   width: 0.8rem;
}
//style for older an newer posts in blog page
ul.pager {
  text-align: center;
  list-style: none;
}
ul.pager li {
  display: inline;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}

.switcher{
  display: inline;
  a{
    display: inline-block;
    margin: 1%;
  }
}
