<!-- a simple thumbnail image with lightbox -->
{% capture srcset %}
{% for i in resized %}
    /{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

<amp-image-lightbox id="lightbox1" layout="nodisplay"></amp-image-lightbox>


<amp-img on="tap:lightbox1"
    role="button"
    tabindex="0"
    alt="{{ alt }}"
    src="/{{ original.path }}"
    srcset="{{ srcset | strip_newlines }} {{ original.path }} {{ original.width }}w"
    width="{{ original.width | divided_by: 10 }}" height="{{ original.height | divided_by: 10 }}">
    <amp-img alt="{{ alt }}"
       fallback
       width="{{ original.width | divided_by: 10 }}px"
       height="{{ original.height | divided_by: 10 }}px"
       src="/assets/{{ original.dirname }}/{{ original.filename }}.jpg"></amp-img>
    </amp-img>
