---
layout: default
title: Interactive art | augmented reality art by Walter Perdan
description: Interactive art with augmented reality. A series of applications for artwork wih augmented reality.
lang: en
carousel: true
---
<main class="content" role="main">
	<h1>Interactivity</h1>
	<h2>Interactive works with augmented reality</h2>
	{% if page.carousel %}
	  {% include carousel.html %}
	{% endif %}
	<article>
	<p>My interactive art - works are listed here. Most of theme are paintings with
		augmented reality, go to my <a href="../artworks" title="visit this page!">artworks</a> page to discover more.</p>
		<p>I work with open source project like <a href="https://github.com/jeromeetienne/AR.js">AR.js</a>,
			<a href="https://threejs.org/">Three.js</a> and other. All the
			app are based on Html and Javascript programming languages. All you need is a smartphone
			or a tablet and... the Artwork! Yes you can not do so much with them. But i plan to realize some
			applications that you can download and print an artwork and interact with it! Stay tuned!
		<p>Try some of them... go to:</p>
</article>
<nav>
	<ul>
	<li>
		<a href="/interactivity/test/">Simple test</a>
		<p>
			Just a simple test to check if three.js works on your phone...
		</p>
	</li>
	<li>
		<a href="/interactivity/moncher/">Mon cher Mondrian</a>
		<div class="interactivity-thumb" >
		<amp-img src="/assets/images/thumb/Noise_Mondrian_acrylic_painting_interactive_art_Walter_perdan_kalwalt.jpg" alt="Noise(Mon cher Mondrian) - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			An abstract painting in honour of Mondrian, the founder of neoplasticism,
		</p><a href="https://www.walterperdan.com/en/artworks/painting/2018-painting/noise-abstract-art">read more...</a>
		</div>
	</li>
	<li>
		<a href="/interactivity/art_is_a_joke/">Art is a Joke</a>
		<div class="interactivity-thumb" >
		<amp-img class="interactivity-thumb" src="/assets/images/thumb/Art_Is_a_joke_interactive_augmented_reality_walter_perdan_kalwalt.jpg" alt="Art is a joke - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			"Art is a joke" is an abstract painting that play with AR markers,
		</p><a href="https://www.walterperdan.com/en/artworks/painting/2018-painting/artisajoke-abstract-painting">read more...</a>
	</div>
	</li>
	<li>
		<a href="/interactivity/flower_power/">FloW-er PoW-er</a>
		<div class="interactivity-thumb" >
		<amp-img class="interactivity-thumb" src="/assets/images/thumb/flower_power_interactive_art_augmented_reality_walter_perdan_kalwalt.jpg" alt="FloW-er PoW-er - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			"FloW-er PoW-er" is an abstract painting with an encrypted text,
		</p><a href="https://www.walterperdan.com/en/artworks/painting/2018-painting/flower-power-abstract-painting">read more...</a>
	  </div>
	</li>
	<li>
		<a href="/interactivity/parole_perse/">Parole perse</a>
		<div class="interactivity-thumb" >
		<amp-img src="/assets/images/thumb/parole_perse_abstract_painting_interactive_art_augmented_reality_walter_perdan_kalwalt.jpg" alt="Parole perse - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			Acrylic abstract painting with a particle effect,
		</p><a href="https://www.walterperdan.com/en/artworks/painting/2018-painting/parole-perse-abstract-painting">read more...</a>
	  </div>
	</li>
	<li>
		<a href="/interactivity/tiger/">The Tiger never follows the Square</a>
		<div class="interactivity-thumb" >
		<amp-img src="/assets/images/thumb/tiger_acrylic_abstract_painting_interactive_art_AR_walter_perdan_kalwalt.jpg" alt="The Tiger never
			follows the Square - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			"The Tiger never follows the square" is an abstract painting with a 3d augmented reality sculpture,
		</p><a href="https://www.walterperdan.com/en/artworks/painting/2018-painting/tiger-abstract-painting">read more...</a>
	  </div>
	</li>
	<li>
		<a href="/interactivity/IdeogrammaAR/">Ideogramma AR01</a>
		<div class="interactivity-thumb" >
		<amp-img src="/assets/images/thumb/ideogram_AR01_interactive_art_augmented_reality_walter_perdan_kalwalt.jpg" alt="Ideogramma AR01 - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			"Ideogramma AR01" is an acrylic abstract painting with an ideogram as marker,
		</p><a href="https://www.walterperdan.com/en/artworks/painting/2018-painting/ideogramma-ar01-abstract-painting">read more...</a>
	  </div>
	</li>
	<li>
		<a href="/interactivity/dada_knigth/">Dada Knight</a>
		<div class="interactivity-thumb" >
		<amp-img src="/assets/images/thumb/dada_knight_interactive_art_augmented_reality_walter_perdan_kalwalt.jpg" alt="Dada Knight - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			"Dada Knight" is an exclusive artwork for d|a|c,
		</p><a href="https://www.artsy.net/artwork/walter-perdan-dada-knight">read more...</a>
	  </div>
	</li>
	<li>
		<a href="/interactivity/glitch/">Glitch</a>
		<div class="interactivity-thumb" >
		<amp-img src="/assets/images/thumb/glitch_interactive_art_augmented_reality_walter_perdan_kalwalt.jpg" alt="Glitch - Interactive art -
		Abstract painting with augmented reality by Walter Perdan"  width="120px" height="120px"></amp-img>
		<p>
			"Glitch" is an exclusive artwork for d|a|c,
		</p><a href="https://www.artsy.net/artwork/walter-perdan-glitch">read more...</a>
	  </div>
	</li>
</ul>
</nav>
{% include social.html %}
</main>
{% include footer.html %}
