---
layout: default
idx: 02
title: Arte Interattiva | arte con realtà aumentata di Walter Perdan
crumbtitle: Arte Interattiva
description: Arte interattiva con realtà aumentata. Una serie di applicazioni per opere d'arte con realtà aumentata. La maggior parte delle opere sono pitture astratte con applicazioni di realtà aumentata.
lang: it
carousel: true
---
<main class="content" role="main">
	<h1>Arte Interattiva</h1>
	<h2>Opere interattive con realtà aumentata</h2>
	{% if page.carousel %}
	  {% include carousel.html %}
	{% endif %}
	<article>
	<p>Le mie opere di arte interattiva sono elencate in questa pagina. La maggior parte delle opere sono costituite da dipinti
		e disegni con realtà aumentata, vai alla mia <a href="../artworks" title="visita questa pagina!">pagina delle opere</a> per scoprire di più.</p>
		<p>Lavoro con progetti Open Source come <a href="https://github.com/jeromeetienne/AR.js">AR.js</a>, <a href="https://github.com/artoolkitx/jsartoolkit5"> Jsartoolkit5</a>,
			<a href="https://threejs.org/">Three.js</a> e altri. Tutti le app sono basate su linguaggi di programmazione HTML e Javascript. Non è richiesta l'installazione di nessun software aggiuntivo,
			è necessario solamente collegarsi alla pagina, cliccando sul link. Tutto ciò di cui avete bisogno è uno smartphone o un tablet e ... l'opera d'arte!
			Sì, non puoi fare tanto senza di loro. Potete comunque provare a scaricare le immagini, stamparle e collegarvi alla pagina corrispondente con il vostro smartphone o tablet per testare l'opera interattiva.
			 Ma ho intenzione di realizzarne alcuni applicazioni che puoi scaricare, stampare un'opera d'arte e interagire con essa! Rimanete sintonizzati!
		<p>Prova alcune di loro... vai a:</p>
</article>
<nav class="interactivity-nav">
	<ul class="interactivity-ul">
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/test/"><h4>Un semplice test</h4></a>
		<p>
			Solamente un semplice test per verificare se Three.js funziona sul tuo telefono ...
		</p>
		</div>
	</li>
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/moncher/" class="fas fa-mobile-alt"><h4>Mon cher Mondrian</h4></a>
		<div class="interactivity-thumb">
			{% assign width = "1200" %}
			{% assign height = "824" %}
			{% assign jpg_id = "44f9a356-38cc-4aa7-8732-8812a6548cfc" %}
			{% assign webp_id = "82cf761c-8803-4a9f-a14d-8bb2711f8bcd" %}
			{% assign name = "Noise_abstract_painting_augmented_reality_Walter_Perdan" %}
			{% assign alt = 'Noise (Mon cher Mondrian) dipinto acrilico interattivo realizzato con Ar.js by Walter Perdan.' %}
			{% assign title = 'Noise (Mon cher Mondrian)' %}

			{% include thumbnail-image.html %}
		<p>
			Un dipinto astratto in onore di Mondrian, il fondatore del neoplasticismo,
		</p><a href="https://www.walterperdan.com/it/opere/pittura/noise-pittura-astratta">Leggi di più...</a>
		</div>
		</div>
	</li>
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/art_is_a_joke/" class="fas fa-mobile-alt"><h4>Art is a Joke</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1200" %}
			{% assign height = "895" %}
			{% assign jpg_id = "20796a85-7afc-4634-8e87-f66201205163" %}
			{% assign webp_id = "70146e27-890d-498c-af4f-7000cf842210" %}
			{% assign name = "Art_is_a_joke_abstract_painting_augmented_reality_interactive_kalwalt" %}
			{% assign alt = '"Art is a joke" arte interattiva con realtà aumentata by Walter Perdan' %}
			{% assign title = 'Art is a joke' %}

			{% include thumbnail-image.html %}
		<p>
			"Art is a joke" è un dipinto astratto che gioca con i marcatori AR,
		</p><a href="https://www.walterperdan.com/it/opere/pittura/artisajoke-pittura-astratta">Leggi di più...</a>
	  </div>
   </div>
	</li>
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/flower_power/" class="fas fa-mobile-alt"><h4>FloW-er PoW-er</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1200" %}
			{% assign height = "843" %}
			{% assign jpg_id = "665de4f1-0672-4fb3-b249-773506a2eda1" %}
			{% assign webp_id = "9bb0d429-5328-4865-95ca-c7616bb8cea4" %}
			{% assign name = "flower_power_interactive_art_augmented_reality_walter_perdan_kalwalt" %}
			{% assign alt = "FloW-er PoW-er - Arte Interattiva - Dipinto astratto con realtà aumentata by Walter Perdan" %}
			{% assign title = 'FloW-er PoW-er' %}

			{% include thumbnail-image.html %}

		<p>
			"FloW-er PoW-er" è un dipinto astratto con un testo crittografato,
		</p><a href="https://www.walterperdan.com/it/opere/pittura/flower-power-pittura-astratta">Leggi di più...</a>
	  </div>
	</div>
	</li>
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/parole_perse/" class="fas fa-mobile-alt"><h4>Parole perse</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1200" %}
			{% assign height = "838" %}
			{% assign jpg_id = "745301df-bc36-4e1b-a2f8-ee1a1107e203" %}
			{% assign webp_id = "2b39f009-6894-43e0-9687-b57fd01897f7" %}
			{% assign name = "parole_perse_abstract_painting_interactive_art_augmented_reality_walter_perdan_kalwalt" %}
			{% assign alt = "Parole perse - Arte Interattiva - Dipinto astratto con realtà aumentata by Walter Perdan" %}
			{% assign title = 'Parole perse' %}

			{% include thumbnail-image.html %}

		<p>
			Pittura astratta acrilica con un effetto particellare,
		</p><a href="https://www.walterperdan.com/it/opere/pittura/parole-perse-pittura-astratta">Leggi di più...</a>
	  </div>
	  </div>
	</li>
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/tiger/" class="fas fa-mobile-alt"><h4>The Tiger never follows the Square</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1200" %}
			{% assign height = "1200" %}
			{% assign jpg_id = "d8f26e88-c060-4308-990a-98caae72440e" %}
			{% assign webp_id = "03cd2b80-bf8b-46c6-918c-136f7a0e8b5d" %}
			{% assign name = "tiger_acrylic_abstract_painting_interactive_art_AR_walter_perdan_kalwalt" %}
			{% assign alt = "The Tiger never follows the Square - Arte Interattiva - Dipinto astratto con realtà aumentata by Walter Perdan" %}
			{% assign title = 'The Tiger never follows the Square' %}

			{% include thumbnail-image.html %}

		<p>
			"The Tiger never follows the square" è un dipinto astratto con una scultura di realtà aumentata 3d,
		</p><a href="https://www.walterperdan.com/it/opere/pittura/tiger-pittura-astratta">Leggi di più...</a>
	  </div>
	</div>
	</li>
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/IdeogrammaAR/" class="fas fa-mobile-alt"><h4>Ideogramma AR01</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1200" %}
			{% assign height = "1200" %}
			{% assign jpg_id = "93378301-3a32-4a72-ae3c-b42bb1499a9b" %}
			{% assign webp_id = "00fab3e7-759c-4628-9b5e-0ae6fca768e7" %}
			{% assign name = "ideogram_AR01_interactive_art_augmented_reality_walter_perdan_kalwalt" %}
			{% assign alt = "Ideogramma AR01 - Arte Interattiva - Dipinto astratto con realtà aumentata by Walter Perdan" %}
			{% assign title = 'Ideogramma AR01' %}

			{% include thumbnail-image.html %}

		<p>
			"Ideogramma AR01"è un dipinto acrilico astratto con un ideogramma come marker,
		</p><a href="https://www.walterperdan.com/it/opere/pittura/ideogramma-ar01-pittura-astratta">Leggi di più...</a>
	  </div>
	</div>
	</li>
	<li>
		<div class="interactivity-inside-div">
		<a href="/interactivity/dada_knigth/" class="fas fa-mobile-alt"><h4>Dada Knight</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1200" %}
			{% assign height = "822" %}
			{% assign jpg_id = "8a696528-1f55-4ff4-a145-b92b88b497fb" %}
			{% assign webp_id = "e260c95a-c700-466d-8d72-46826ec03eb2" %}
			{% assign name = "dada_knight_interactive_art_augmented_reality_walter_perdan_kalwalt" %}
			{% assign alt = "Dada Knight - Arte Interattiva - Dipinto astratto con realtà aumentata by Walter Perdan" %}
			{% assign title = 'Dada Knight' %}

			{% include thumbnail-image.html %}

		<p>
			"Dada Knight" è un'opera d'arte esclusiva per d | a | c,
		</p><a href="https://www.artsy.net/artwork/walter-perdan-dada-knight">Leggi di più...</a>
	</div>
</div>
</li>
<li>
	<div class="interactivity-inside-div">
	<a href="/interactivity/glitch/" class="fas fa-mobile-alt"><h4>Glitch</h4></a>
	<div class="interactivity-thumb" >
		{% assign width = "1200" %}
		{% assign height = "847" %}
		{% assign jpg_id = "ace616d9-bb66-437f-954e-825615e46eb6" %}
		{% assign webp_id = "fb0bbdd7-8cbb-4910-ba1e-0daf8d6c5bcd" %}
		{% assign name = "glitch_abstract_painting_interactive_art_augmented_reality_Walter_Perdan" %}
		{% assign alt = 'Glitch - Arte Interattiva - Dipinto astratto con realtà aumentata by Walter Perdan' %}
		{% assign title = 'Glitch' %}
		{% assign caption = 'Glitch, colore acrilico su tela, 70x50 cm, 2018.'%}

		{% include thumbnail-image.html %}

	<p>
		"Glitch" è un'opera d'arte esclusiva per d | a | c,
	</p><a href="https://www.artsy.net/artwork/walter-perdan-glitch">Leggi di più...</a>
	</div>
	</div>
</li>
<li>
	<div class="interactivity-inside-div">
		<a href="/interactivity/noise_noise/" class="fas fa-mobile-alt"><h4>Noise Noise</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1500" %}
			{% assign height = "1125" %}
			{% assign jpg_id = "79594958-f64c-4e87-930c-38140148884a" %}
			{% assign webp_id = "543ae1b0-e8a0-4f96-ac7e-eff0dc2b46e3" %}
			{% assign name = "noise_noise_augmented_reality_art_kalwalt" %}
			{% assign alt = 'Noise Noise - Arte interattiva - dipinto astratto con realtà aumentata di Walter Perdan' %}
			{% assign title = 'Noise Noise' %}
			{% assign caption = 'Noise Noise, colore acrilico su tela, 70x50 cm, 2019.'%}

			{% include thumbnail-image.html %}

		<p>
			"Noise Noise" è un opera di arte interattiva con realtà aumentata,
		</p><a href="https://www.kalwaltart.it/blog/2019/04/29/realtà-aumentata-noise-noise-opera-interattiva">Leggi di più...</a>
		</div>
	</div>
</li>
<li>
	<div class="interactivity-inside-div">
		<a href="/interactivity/glitch_mk02/" class="fas fa-mobile-alt"><h4>Glitch mk02</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1500" %}
			{% assign height = "1125" %}
			{% assign jpg_id = "ea559554-b0e8-44db-acd2-19da67823bd4" %}
			{% assign webp_id = "97237c43-460e-4daf-9334-784ff9a6ff1a" %}
			{% assign name = "Glitch_mk02_augmented_interactive_art" %}
			{% assign alt = 'Glitch mk02 - Arte interattiva - Disegno astratto con realtà aumentata di Walter Perdan' %}
			{% assign title = 'Glitch mk02' %}
			{% assign caption = 'Glitch mk02, Disegno con marker su carta, 42 x 29.7 cm, 2019.'%}

 			{% include thumbnail-image.html %}

 		<p>
			"Glitch mk02" é un opera di arte interattiva con realtà aumentata,
		</p><a href="#">Leggi di più...</a>
		</div>
	</div>
</li>
<li>
	<div class="interactivity-inside-div">
		<a href="/interactivity/glif01/" class="fas fa-mobile-alt"><h4>Glif 01</h4></a>
		<div class="interactivity-thumb" >
			{% assign width = "1500" %}
			{% assign height = "1125" %}
			{% assign jpg_id = "cde73ab4-f1c7-48a5-b268-967660a89369" %}
			{% assign webp_id = "6d22152c-7e1e-43b2-abfa-ff9ca3b0332f" %}
			{% assign name = "glif_01_interactive_art_abstract_drawing_with_augmented_reality_by_Walter_Perdan" %}
			{% assign alt = 'Glif 01 - Arte interattiva - disegno astratto  con realtà aumentata di Walter Perdan' %}
			{% assign title = 'Glif 01' %}
			{% assign caption = 'Glif 01, disegno con marker su carta, 29.7 x 21 cm, 2019.'%}

			{% include thumbnail-image.html %}

		<p>
			"Glif 01" è un opera di arte interattiva con realtà aumentata,
		</p><a href="#">Leggi di più...</a>
		</div>
	</div>
</li>
</ul>
</nav>
{% include social.html %}
</main>
{% include footer.html %}
