---
layout: default
title: Abstract art | Artworks about Kalwalt alias Walter Perdan visual artist.
description: Some Kalwalt's alias Walter Perdan Artworks. His works is mainly focused on abstract art.
 For an exaustive list of artworks go to the attached link.
lang: en_GB
---
<main class="content" role="main">
	<article>
	<h1>Artworks</h1>
	<section>
	<h2>Introduction</h2>
	<p>In this page briefly i will introduce you to my artistic research and i
		will explain some fields in which i like to express with. It does not want to be an exhaustive explanation but rather a quick review of my main fields of expression.
    For a deeper understanding of my artworks and a better fruition of them, i suggest a visit to my official artistic website.</p>
	<p> </p>
  </section>
	<section>
	<h2>Painting</h2>
	<p> </p>
	<a href="https://www.walterperdan.com/en/artworks/painting/eterno-dilemma-en" ><amp-img
		src="/assets/images/Eterno_dilemma_abstract_painting_kalwalt.jpg"
		 alt="L'Eterno dilemma - abstract painting by Kalwalt" width="600px" height="600px" layout="responsive"></a>
	<p> </p>
	<p>I like the abstract art and the surreal art, my paintings reflect this my enjoyment.
		I usually paint with acrylic colors, watercolors and other techniques. I create forms that
	represent state of mind rather imitate Nature. In my paintings,
  i try to find a balance between expression and abstraction, innovation and tradition.</p>
  <p>Got to <a href="https://www.walterperdan.com/en/artworks/painting/painting-intro/amp"> my website for more...</a></p>
  </section>
	<section>
	<h2>Sculpture</h2>
	<p> </p>
	<a href="https://www.walterperdan.com/en/artworks/sculpture/marble/respiro-cosmico-abstract-sculpture" ><amp-img
		src="/assets/images/Respiro_cosmico_abstract_sculpture_kalwalt.jpg"
		 alt="Respiro cosmico abstract sculpture by Kalwalt" width="600px" height="399px" layout="responsive"></a>
	<p></p>
	<p>I create abstract sculptures with different materials: Marble, stone, wood, bronze, acrylic and epoxy resyns.
	 I like to feel the material under my fingers and express my emotions of Form and of Nature. A part of my research wants
   to represent the concepts of time and space and the change of our being in a "liquid" society:
   the reflection of our way of living and thinking in the contemporary world.</p>
	<p>Visit the dedicated <a href="https://www.walterperdan.com/en/artworks/sculpture/sculpture-intro/amp">
		page for more...</a></p>
</section>
<section>
	<h3>Interactive artworks</h3>
	<p> </p>
	<a href="https://www.walterperdan.com/en/artworks/painting/artisajoke-abstract-painting" ><amp-img
		src="/assets/images/Art_is_a_joke_abstract_painting_augmented_reality_interactive_kalwalt.jpg"
		 alt="Art is a joke - abstract painting with augmented reality by Kalwalt" width="600px" height="430px" layout="responsive"></a>
	<p> </p>
	<p>The majority of interactive artworks consist of acrylic paintings with markers for augmented reality.
		My research consists in finding an agreement between the abstract forms of the markers and
		the abstract organic forms of my paintings. Above the markers you can see text appearing,
		particle animations, 3d objects or videos. My effort is to continuously
    find new ways to make art and move the limit of language ...</p>
	<p>For a complete description of my interactive artworks i suggest to you to go to my website
		 in my <a href="https://www.walterperdan.com/en/artworks/new-media/augmented-reality/amp">
		 	augmented reality section</a>.</p>
</section>
	<div>
		<p>If you want to see some my artworks and to have more exaustive informations,
			 i invite you to my official page: visit my
		<a href="https://www.walterperdan.com/en/artworks/contemporary-art-portfolio.html">portfolio</a>
		</p>
	</div>
</article>
{% include social.html %}
</main>
{% include footer.html %}
