<!DOCTYPE html>
	<html lang="en">
		<head>
			<!--<title>{{ page.title }}</title>-->
			<meta charset="utf-8" />
			{% seo %}
			<!-- CSS -->
    <style>
    {% include main.css %}
    </style>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script async src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#237afc"
    },
    "button": {
      "background": "#fff",
      "text": "#237afc"
    }
  }
})});
</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
							<li><a href="/artworks">Artworks</a></li>
							<li><a href="/interactivity"> Interactivity</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:info@kalwaltart.it">email</a></li>
	        		<li><a href="https://github.com/kalwalt">github.com/kalwalt</a></li>
              <li><a href="https://www.walterperdan.com">www.walterperdan.com</a></li>
				</ul>
			</footer>
		</body>
	</html>
