---
layout: page
title: Arte Interattiva | pagina dei tag del sito di Kalwalt per le applicazioni di AR
permalink: /
section: tag page
description: Pagina dei tag del sito Web di Kalwalt. Puoi sfogliare la collezione di articoli del blog su interattività, web-design e arte.
lang: it
intro_paragraph: ''
---
<h2>{{ page.tag }}</h2>
<ul>
{% for post in page.posts %}
  <li class="tag-list-sum"><a class="tag-list fas fa-tags" href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }} | Tags: {{ post | tags }})</li>
{% endfor %}
</ul>

<div class="tag-cloud fas fa-tags">
  {{ site | tag_cloud }}
</div>
