---
layout: page
title: Interactive art | tag page of Kalwalt official website for AR
permalink: /
section: tag page
description: Tag page of Kalwalt's website. You can browse the blog articles collection about interactivity, web-design and art.
lang: en
intro_paragraph: ''
---
<h2>{{ page.tag }}</h2>
<ul>
{% for post in page.posts %}
  <li><a class="fas fa-tags" href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }} | Tags: {{ post | tags }})</li>
{% endfor %}
</ul>

<div class="tag-cloud">
  {{ site | tag_cloud }}
</div>
